<!DOCTYPE html>
<html lang="en">


<body>
    <div class="ps-page">
        {% load static %}

        <div class="ps-contact">
            <div class="container">
                <ul class="ps-breadcrumb">
                    <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
                    <li class="ps-breadcrumb__item active" aria-current="page">Contact us</li>
                </ul>
                <div class="ps-contact__content">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="ps-contact__info">
                                <h2 class="ps-contact__title">How can we help you?</h2>
                                <p class="ps-contact__text">We are at your disposal 7 days a week!</p>
                                <h3 class="ps-contact__fax">113-114-115</h3>
                                <div class="ps-contact__work">Monday – Sunday: 9:00-20:00</div>
                                <div class="ps-contact__email"><a href="#"><span class="__cf_email__" data-cfemail="a9cac6c7ddc8cadde9ccd1c8c4d9c5cc87cac6c4">nguyenanhtrong@codersden.online</span></a></div>
                                <ul class="ps-social">
                                    <li><a class="ps-social__link facebook" href="#"><i class="fa fa-facebook"> </i><span class="ps-tooltip">Facebook</span></a></li>
                                    <li><a class="ps-social__link instagram" href="#"><i class="fa fa-instagram"></i><span class="ps-tooltip">Instagram</span></a></li>
                                    <li><a class="ps-social__link youtube" href="#"><i class="fa fa-youtube-play"></i><span class="ps-tooltip">Youtube</span></a></li>
                                    <li><a class="ps-social__link pinterest" href="#"><i class="fa fa-pinterest-p"></i><span class="ps-tooltip">Pinterest</span></a></li>
                                    <li><a class="ps-social__link linkedin" href="#"><i class="fa fa-linkedin"></i><span class="ps-tooltip">Linkedin</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="ps-contact__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0624766960514!2d106.62628677604779!3d10.806526989344126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be2853ce7cd%3A0x4111b3b3c2aca14a!2zMTQwIMSQLiBMw6ogVHLhu41uZyBU4bqlbiwgVMOieSBUaOG6oW5oLCBUw6JuIFBow7osIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1716436001756!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        </div>
                    </div>
                </div>
                <form action="#" method="post">
                    <div class="ps-form--contact">
                        <h2 class="ps-form__title">Fill up the form if you have any question</h2>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="ps-form__group">
                                    <input class="form-control ps-form__input" type="text" placeholder="Name and Surname">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="ps-form__group">
                                    <input class="form-control ps-form__input" type="email" placeholder="Your E-mail">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="ps-form__group">
                                    <input class="form-control ps-form__input" type="text" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="ps-form__group">
                                    <textarea class="form-control ps-form__textarea" rows="5" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ps-form__submit">
                            <button class="ps-btn ps-btn--warning">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>


</body>

</html>