{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Best seller</h1>
{% for product in products %} 
    <div class="col-sm-4">
        <img src="{{ product.image.url }}" alt="{{ product.name }}"> <br>
        {{ product.name }} <br>
        {% if product.discount %}
            <s>{{ product.price }}đ</s> {{ product.discounted_price }}đ
        {% else %}
            {{ product.price }}đ
        {% endif %}
    </div>
{% endfor %}
{% endblock %}